In [36]:
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

In [2]:
data_inventory = pd.read_csv(r"C:\Users\20193727\Downloads\Data\Data\inventory.csv")
data_products = pd.read_csv(r"C:\Users\20193727\Downloads\Data\Data\products.csv")
data_promotions = pd.read_csv(r"C:\Users\20193727\Downloads\Data\Data\promotions.csv")
data_transactions = pd.read_csv(r"C:\Users\20193727\Downloads\Data\Data\transactions.csv")

In [3]:
data_transactions[data_transactions['description'] == 'Rundergehakt'].head()

,day,time,customer,bank acount,category,product_id,description,size,std_sales_price,purchase_price,bio,basic
374,1/1/2018,13:52:41,23.0,53801240.0,meat,m_7,Rundergehakt,300g,2.29,2.29,0.0,0.0
383,1/1/2018,13:52:41,23.0,53801240.0,meat,m_1,Rundergehakt,500g,3.69,3.69,0.0,0.0
403,1/1/2018,14:09:57,24.0,55280334.0,meat,m_7,Rundergehakt,300g,2.29,2.29,0.0,0.0
496,1/1/2018,14:30:47,27.0,51176058.0,meat,m_1,Rundergehakt,500g,3.69,3.69,0.0,0.0
553,1/1/2018,15:19:45,31.0,51171942.0,meat,m_7,Rundergehakt,300g,2.29,2.29,0.0,0.0

In [35]:
data_promotions

,week,category,product_id,description,discount
0,1,vegetable,v_14,Biologische knoflook,30
1,1,vegetable,v_2,Courgette,5
2,1,vegetable,v_16,Biologische kikkererwten,10
3,1,vegetable,v_12,Biologische courgette,15
4,1,bread,b_41,Chinois brioche,30
5,1,bread,b_40,Roomboter chocolade brood,25
6,1,bread,b_15,Vloerbrood volkoren,30
7,1,vegetable,v_15,Biologische pompoen,30
8,1,vegetable,v_26,Snijbonen,35
9,1,meat,m_18,Varkensbraadworst,20
10,1,vegetable,v_28,Basis Maiskorrels,5
11,1,bread,b_34,Glutenvrij bruin,15
12,1,meat,m_12,Unox Gelderse rookworst,20
13,1,meat,m_6,Half om half gehakt,10
14,1,meat,m_39,Kipfilet naturel,10
15,2,meat,m_6,Half om half gehakt,5
16,2,meat,m_32,biologische Hamburger,30
17,2,bread,b_29,Basic wit heel,15
18,2,meat,m_31,Spekblokjes,20
19,2,vegetable,v_9,Basis worteltjes fijn,20
20,2,bread,b_12,Meergranen volkoren heel,10
21,2,fruit,f_1,Mandarijenen,10
22,2,vegetable,v_4,Paprika Mix,30
23,2,bread,b_24,Atkins laag koolhydraat volkoren brood half,10
24,2,meat,m_17,Biologisch rundergehakt,5
25,2,snack,s_7,Ribbelchips paprika,25
26,2,fruit,f_6,Pink lady appels,25
27,2,bread,b_26,Kaneelbroodjes,30
28,2,bread,b_38,Krenten rozijnenwegge,15
29,2,bread,b_11,Volkoren heel,5
...,...,...,...,...,...
750,51,meat,m_7,Rundergehakt,5
751,51,vegetable,v_15,Biologische pompoen,10
752,51,bread,b_27,Biologisch Vloerbrood meerzaden heel,15
753,51,bread,b_37,Melkbroodjes,5
754,51,bread,b_16,Casino wit half,15
755,51,bread,b_4,meergranen volkoren half,10
756,51,meat,m_25,Biologisch rundergehakt,10
757,51,bread,b_8,Tijger volkoren heel,5
758,51,meat,m_21,gerookt onbijtspek,30
759,51,fruit,f_29,Biologische sinaasappelen,20
760,51,vegetable,v_32,Buitenbeentjes komkommer,30
761,51,bread,b_19,Zaanse sijnder bruin half,15
762,51,vegetable,v_7,Basis Sperziebonen,5
763,51,vegetable,v_28,Basis Maiskorrels,20
764,51,vegetable,v_12,Biologische courgette,25
765,52,bread,b_30,Basic casino half,5
766,52,vegetable,v_10,Basis erwten zeer fijn,25
767,52,bread,b_29,Basic wit heel,5
768,52,vegetable,v_19,Biologische cherry tomaten,30
769,52,vegetable,v_9,Basis worteltjes fijn,15
770,52,bread,b_28,Basic meergranen heel,15
771,52,meat,m_36,Biologische runderchipolata,5
772,52,meat,m_37,Biologische rundersoepballetjes,35
773,52,meat,m_8,Slavinken,10
774,52,fruit,f_5,Zoete kleine appeltjes,25
775,52,vegetable,v_5,Paprika,10
776,52,meat,m_2,Gerookte spekreepjes,35
777,52,vegetable,v_32,Buitenbeentjes komkommer,10
778,52,meat,m_12,Unox Gelderse rookworst,30
779,52,meat,m_21,gerookt onbijtspek,30

In [4]:
#data_promotions['description'].value_counts()

In [5]:
def sales_different_prices(df_transactions, product :str, size):
    product_sales = data_transactions[data_transactions['description'] == product]
    product_sales = product_sales[product_sales['size'] == size]
    sales_per_day = product_sales['day'].value_counts()
    
    daily_sales = []
    daily_price = []
    for day in range(len(sales_per_day.index)):
        sales = sales_per_day[day]
        price1 = product_sales[product_sales['day'] == sales_per_day.index[day]]['purchase_price']
        #price1 = product_sales[product_sales['day'] == sales_per_day.index[day]]['purchase_price']
        price = [price1[price1.index[0]]]
        daily_sales.append(sales)
        daily_price.append(price)
        
    return daily_price, daily_sales

In [6]:
def sales_different_prices_id(df_transactions, product_id):
    product_sales = data_transactions[data_transactions['product_id'] == product_id]
    sales_per_day = product_sales['day'].value_counts()
    
    daily_sales = []
    daily_price = []
    for day in range(len(sales_per_day.index)):
        sales = sales_per_day[day]
        price1 = product_sales[product_sales['day'] == sales_per_day.index[day]]['purchase_price']
        #price1 = product_sales[product_sales['day'] == sales_per_day.index[day]]['purchase_price']
        price = [price1[price1.index[0]]]
        daily_sales.append(sales)
        daily_price.append(price)
        
    return daily_price, daily_sales

In [7]:
def sales_different_pricesandsizes(df_transactions, product):
    product_sales = data_transactions[data_transactions['description'] == product]
    #product_sales = product_sales[product_sales['size'] == size]
    #sales_per_day = product_sales['day'].value_counts()
    days = product_sales['day'].unique()
    
    daily_sales = []
    daily_price = []
    size_dummy = -1
    

    for size in product_sales['size'].unique():
        product_sales_loop = product_sales[product_sales['size'] == size]
        sales_per_day = product_sales_loop['day'].value_counts()
        size_dummy += 1
        for day in range(len(sales_per_day)):
            sales = sales_per_day[day]
            price1 = product_sales[product_sales['day'] == sales_per_day.index[day]]['purchase_price']
            #price1 = product_sales[product_sales['day'] == sales_per_day.index[day]]['purchase_price']
            price = [price1[price1.index[0]], size_dummy]
            daily_sales.append(sales)
            daily_price.append(price)
        
    return daily_price, daily_sales

In [199]:
def forest_df(data, product):
    days = []
    sales = []
    prices = []
    size_list = []
    
    different_sizes = data[data['description'] == product]['size'].unique()
    different_sizes = [x for x in different_sizes if x == x]
    product_data = data[data['description'] == product]
    
    for day in data['day'].unique():
        size_variable = -1
        daily_sales = data[data['day'] == day]
        product_sales = daily_sales[daily_sales['description'] == product]
        
        for size in different_sizes:
            size_variable += 1
            sales_per_size = len(product_sales[product_sales['size'] == size])
            try:
                price = product_sales[product_sales['size'] == size]['purchase_price'].iloc[0]
            except:
                price = product_data[product_data['size'] == size]['purchase_price'].max()
            
            days.append(day)
            sales.append(sales_per_size)
            size_list.append(size_variable)
            prices.append(price)
     
    raw_data = {'date' : days, 'amount_sold':sales, 'price': prices, 'size':size_list}
    dataframe = pd.DataFrame(raw_data)
    return dataframe

In [204]:
def forest_variables(forest_data):
    prices = forest_data['price']
    sales = forest_data['amount_sold']
    sizes = forest_data['size']
    
    zipped = zip(prices, sizes)
    x_train = [list(a) for a in zipped]
    y_train = sales
    
    return x_train, y_train

In [149]:
#product_sales = data_transactions[data_transactions['description'] == 'Rundergehakt']
#product_sales_loop = product_sales[product_sales['size'] == '500g']
#sales_per_day = product_sales_loop['day'].value_counts()
#sales_per_day[150:180]

In [150]:
#x_price, y_sales = sales_different_prices(data_transactions, 'Rundergehakt', '500g')

In [151]:
#x_price1, y_sales1 = sales_different_pricesandsizes(data_transactions, 'Rundergehakt')

In [152]:
#x_price2, y_sales2 = sales_different_pricesandsizes(data_transactions, 'm_1')

In [200]:
forest_data = forest_df(data_transactions, 'Rundergehakt')

In [203]:
forest_data.head()

       date  amount_sold  price  size
0  1/1/2018            5   2.29     0
1  1/1/2018            3   3.69     1
2       NaN            0   2.29     0
3       NaN            0   3.69     1
4  2/1/2018            4   2.29     0

In [205]:
x_price, y_sales = forest_variables(forest_data)

In [206]:
X_train, X_test, y_train, y_test = train_test_split(x_price, y_sales, test_size=0.25, random_state=42)

In [222]:
bos = RandomForestRegressor(n_estimators = 200, min_samples_split =5, min_samples_leaf = 2, max_features = 'sqrt', max_depth = 10, bootstrap = True)
bos.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=10,
           max_features='sqrt', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=2, min_samples_split=5,
           min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [218]:
bos_clf = RandomForestClassifier(n_estimators = 600, min_samples_split =10, min_samples_leaf = 4, max_features = 'sqrt', max_depth = 90, bootstrap = False)
bos_clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=False, class_weight=None, criterion='gini',
            max_depth=90, max_features='sqrt', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=4, min_samples_split=10,
            min_weight_fraction_leaf=0.0, n_estimators=600, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [212]:
def Accuracy(bos, X_test, y_test):
    predictions = bos.predict(X_test)
    rounded_predictions = [round(num) for num in predictions]
    acc = 0
    for i in range(len(y_test)):
        if rounded_predictions[i] == y_test.iloc[i]:
            acc += 1
            
    return acc/len(predictions)

In [223]:
Accuracy(bos, X_test, y_test)

0.14754098360655737

## Tuning parameters

In [17]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import GridSearchCV

In [18]:
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}

print(random_grid)

{'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000], 'max_features': ['auto', 'sqrt'], 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None], 'min_samples_split': [2, 5, 10], 'min_samples_leaf': [1, 2, 4], 'bootstrap': [True, False]}

In [220]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestRegressor()
#rf = RandomForestClassifier()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 25, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
rf_random.fit(X_train, y_train)

Fitting 3 folds for each of 25 candidates, totalling 75 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    4.5s
[Parallel(n_jobs=-1)]: Done  75 out of  75 | elapsed:   10.9s finished

RandomizedSearchCV(cv=3, error_score='raise-deprecating',
          estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False),
          fit_params=None, iid='warn', n_iter=25, n_jobs=-1,
          param_distributions={'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000], 'max_features': ['auto', 'sqrt'], 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None], 'min_samples_split': [2, 5, 10], 'min_samples_leaf': [1, 2, 4], 'bootstrap': [True, False]},
          pre_dispatch='2*n_jobs', random_state=42, refit=True,
          return_train_score='warn', scoring=None, verbose=2)

In [221]:
rf_random.best_params_

{'n_estimators': 200,
 'min_samples_split': 5,
 'min_samples_leaf': 2,
 'max_features': 'sqrt',
 'max_depth': 10,
 'bootstrap': True}